@charset"UTF-8";
@font-face{
	font-family: 'FonteLogo';
	src: url("../_fonts/bubblegum-sans-regular.otf");
	
}

	
    body{
		background-color: #dddddd; 
		color: rgba(0,0,0,1);	
		font-family:Arial, sans-serif;
	}

video#film {
	display: block;
	position: relative;
	width: 345px;
}

    div#interface{
        width: 1000px; /*delimita o corpo da div*/
        background-color:#ffffff;
        margin:-15px auto 0px auto; /*Margens da interface div (cima, direita, baixo e esquerda respectivamente)*/
        box-shadow: 0px 0px 10px rgba(0,0,0,.5); /*SOmbra em volta do objecto (lateral, vertical, espalhamento e cor da sombra*/
        padding:10px; /*(se todas laterais forem iguais usa-se uma vez, margem interna do objecto)*/
    }
	p{
		text-align: left;
		text-indent: 50px;		
	}	
	
	a{
		color:#606060;
		text-decoration:none;
	}
	
	a:hover{
		text-decoration: underline;
	}

    header#cabecalho img#icone{
        position: absolute;
        left:1010px;
            top:70px;
    }
		


    header#cabecalho {
		border-bottom: 1px #606060 solid;
		height:150px;
		background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 95px;
    }
		
	header#cabecalho h1{
		font-family: 'FonteLogo';
		font-size: 40pt;
		color:#606060;
		text-shadow:1px 1px 1px rgba(0,0,0,.6);
		padding:0px;
		margin-bottom:0px;
	}
		
	header#cabecalho h2{
		font-family: Agency FB, sans-serif;
		font-size: 20pt;
		color:#888888;
		padding:0px;
		margin-top:0px;
	}
		
	/* Formatacao de imagens com legendas */		
	figure.foto-legenda{
		position: relative;
		border: 8px solid white;
		box-shadow: 1px 1px 4px black;
	}
		
	figure.foto-legenda img{
		width: 100%;
		height: 100%;
	}
		
	figure.foto-legenda figcaption{
		opacity: 0;
		position: absolute; /*posicao absoluta dentro de figure, ja que figure possui posicao relativa e figcaption esta contido nele*/
		top: 0px;
		background-color: rgba(0,0,0,.4); /*Fundo preto com transparencia na imagem*/
		color: white;
		width: 100%;
		height: 100%;
		padding: 10px; /* Espaco dentro da box criada*/
		box-sizing: border-box; /*Box criada para posicionar correctamente  o texto desarumado pelo padding*/
		transition: opacity 1s;
	}
		
	figure.foto-legenda:hover figcaption{ /*Nao esta a funcionar*/
		opacity: 1;
	}
		
/* Formatacao do menu, no link rel da estrutura html omitimos o type="text/css" porque passou a ser opcional*/
    nav#menu{
        display:block; /*Permite que o menu flutue na tela*/
    }

	nav#menu ul{
    list-style:none;
    text-transform:uppercase;
    position :absolute; /*Permite que o menu ul fique livre pelo site, se for relativa so fica no container menu*/
    top:-20px;
    left:480px;		
	}

	nav#menu li{
    display:inline-block; /*Faz com que um bloco seja exibido na mesma linha*/
    background-color:#dddddd; /*bordas cinzas do menu li*/
    padding:10px; /*Espaco entre o tecto e o texto*/
    margin:2px; /*Margem nas laterais dos botoes do menu*/	
    transition: background-color 1s;		
	}
        
    nav#menu li:hover{
        background-color:#606060;
	}

    nav#menu h1{
        display:none;
    }

    nav#menu a{
        color:#000000;  /*COR PRETA do texto do menu*/
        text-decoration:none;   /*tira o sublinhado do menu*/
    }

    nav#menu a:hover{             /*cor da letra do link ao passar o mouse*/
        color:white;
	}

	section#corpo{
		display:block;
		width:600px;
		float:left;	
		border-right: 1px solid #606060;
		padding-right:20px;
	}

	article#noticia-principal h2{
		font-size:13pt;
		color:#606060;
		background-color:#dddddd; /*cor de fundo dos titulos*/
		padding:5px 0px 5px 10px;
		margin:10px 0px 10px 0px;	
	}

	article#cabecalho-do-artigo h1{
	font-family: 'FonteLogo', sans-serif;
	font-size:20pt;
	color:#606060;
	margin-bottom:0px;
	margin-top:0px;
	}

	article#cabecalho-do-artigo h2{
		font-size:13pt;
		color:#cecece;
		background-color:#ffffff; /*Nao funciona*/
		margin:0px;
	}

	article#cabecalho-do-artigo h3{
		font-size:12pt;
		color:#606060;
	}
	
	.direita{
		text-align:right;
	}

	aside#lateral{
		display:block;
		width:350px;
		float:right;
		background-color:#dddddd;
		padding:10px;
		margin-top:10px;
		box-shadow: 2px 2px 2px rgba(0,0,0,.5)
	}
	
	aside#lateral h1{
		font-family: 'FonteLogo', sans-serif;
		font-size:20pt;
		color:#606060;
		margin-top:0px;
	}
	
	aside#lateral h2{
		background-color:#606060;
		color:#ffffff;
		font-size:13pt;
		padding:5px;
	}

table#tabelaspec{
	border:1px solid #606060;
	border-spacing:0px;
	margin-left:auto;
	margin-right:auto;
}

table#tabelaspec td{
	border:1px solid #606060;
	padding:10px;
	text-align:center;
	vertical-align: middle;
	}
	

	table#tabelaspec td.colesquerda{
		color:#ffffff; /*Branco*/
		background-color: #606060;
		vertical-align: top;
		font-weight:bold;
	}
	
	table#tabelaspec td.coldireita{
		background-color:#cecece;
	}

	table#tabelaspec caption{
		color:#888888;
		font-size:13pt;
		font-weight:bold;
	}

	table#tabelaspec caption span{
		display:block;
		float:right;
		color:black;
		font-size:8pt;
		margin-top:10px;
	}

	footer#rodape{
		clear:both;
		border-top:1px solid #606060;
	}

	
	footer#rodape p{
		text-align: center;
	}